<footer class="footer">
  <small>
    The MeetupSite
    by <a href="http://www.victordozal.com/">Victor Dozal</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",            root_path %></li>
      <li><%= link_to "Import CSV",      meetup_file_import_path %></li>
    </ul>
  </nav>
</footer>